#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}


.restaurant-content {
  list-style-type: none;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-animated {
  transition: 0.5s;
}
