.restaurant-content {
  list-style-type: none;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-animated {
  transition: 0.5s;
}

a.restaurant-anchor:hover {
  text-decoration: underline;
}
